<h1 [ngClass]="'title'">{{ title }}</h1>

<form>
  <input type="text" [(ngModel)]="firstName" name="name" /><br />
  <input type="text" name="firstname" [(ngModel)]="lastName" /><br />
  <input type="text" name="firstname" [(ngModel)]="post" /><br />

  <button (click)="userRegister()">Register</button>
</form>

<br />

<p *ngIf="registed; else sinRegistrar">
  {{ message }} with name of {{ firstName }} {{ lastName }} and has a Post of <span [ngClass]="{forCondition:post==='directores'}">{{ post }}. </span>
</p>


<!-- ngStyle -->
<!--  <span [ngStyle]="{color: post==='director'? 'red':'blue'}">{{ post }} </span> -->
<ng-template #sinRegistrar>
  <p>Nobody registed</p>
</ng-template>

<div>
  <ul>
    <li
      [ngStyle]="{
        color: 'blue',
        'font-weight': 'bold',
        'font-size': '1.6rem'
      }"
      *ngFor="let ticket of tickets; let i = index">
      {{ ticket.title }} .<span>ticket {{ i }}</span>
    </li>
  </ul>
</div>

<!-- . ticket {{i}} -->
